.btn {
	background-color: var(--color-fill);
	color: var(--color-content);
	padding: var(--button-padding);
	font-size: var(--button-fontsize);
	display: inline-flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	align-content: center;
	justify-content: space-between;
	cursor: pointer;
	position: relative;
	line-height: var(--button-line-height);
	white-space: nowrap;
	transition: filter var(--button-transition-speed) linear;
	transform-origin: center;
	text-decoration: none;
	appearance: none;

	@apply rounded outline-none font-secondary;

	&:hover,
	&:focus {
		&:not([disabled]):not(.field) {
			/* We don't apply to button fields, because fields have
            their own way of denoting state. */
			filter: brightness(var(--button-filter-brightness));
		}
	}

	&[disabled] {
		opacity: 0.6;
		cursor: not-allowed;
	}
}
