@import "_vars/*";
@import "variants/*";
@import "elements/*";
@tailwind components;
@tailwind utilities;

#wpcontent {
	padding-left: 0;
}

#plugin {
	.components-base-control {
		width: 100%;
		&__field {
			margin-bottom: 10px;
			width: 100%;
		}
		&__help {
			font-size: 90%;
			color: var(--color-neutral-500);
		}
		input {
			width: 100%;
		}
		label {
			display: block;
		}
	}
	.components-placeholder {
		&__fieldset {
			display: flex;
			justify-content: center;
		}
	}
}
/* position cart */
.position-cart-left-top {
	 top: 10%;
	 left: 70px;
}

.content-cart-left-top {
	 left: 80px;
}

.position-cart-left-center {
	 left: 70px;
	 top: calc((100% - 60px) / 2);
}

.content-cart-left-center {
	 left: 80px;
	 top: -100px;
}

.position-cart-left-bottom {
	 left: 70px;
	 top: 85%;
}

.content-cart-left-bottom {
	 left: 80px;
	 top: -410px;
}


.position-cart-right-top {
	 top: 10%;
	 right: 100px;
}

.content-cart-right-top {
	 right: 80px;
}

.position-cart-right-center {
	 right: 70px;
	 top: calc((100% - 60px) / 2);
}

.content-cart-right-center {
	 right: 80px;
	 top: -100px;
}

.position-cart-right-bottom {
	 right: 70px;
	 top: 85%;
}

.content-cart-right-bottom {
	 right: 80px;
	 top: -410px;
}

/**/
.bg-cart::after {
	 @apply w-full h-full;
	 opacity: 0.8;
	 content: '';
	 position: fixed;
	 left: 0;
	 top: 0;
	 z-index: -1;
	 background-color: rgba(0, 0, 0, .8);
}

.bg-cart {
	 max-width: 400px;
}

.h-m-450 {
	 max-height: 450px;
}

.h-450 {
	 height: 450px
}

body .vnh-input > input[type=text] {
	 @apply w-full text-center rounded-none p-0 border-r-0 border-l-0 mx-0;
	 height: 34px;
	 border-color: #cbd5e0;
}

.input-pretitire {
	 display: inline-block;
	 width: 44px;
	 height: 30px;
	 vertical-align: middle;
}

::-webkit-scrollbar {
	 -webkit-appearance: none;
	 width: 7px;
}

::-webkit-scrollbar-thumb {
	 border-radius: 4px;
	 background-color: rgba(0, 0, 0, .5);
	 -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.bg-default {
	 background-color: var(--color-primary-200);
}

.position-quantity {
	 right: -20px;
	 top: -20px
}

.z--1 {
	 z-index: -1;
}

.selectcolor-master {
	 background: #FF5187;
}

.h-30 {
	 height: 30px !important;
}

.z-100 {
	 z-index: 100;
}
